.transactionHistory {
    margin-top: 25px;
    width: 600px;

    border: 1px solid;
    border-collapse: collapse;

    text-align: center;
}

tr,
th,
td {
    height: 30px;
    border: 1px solid;
}

thead {
    background-color: aqua;
}